/* @theme my-theme */
@import 'default';

/* 針對所有投影片的整體設定 */
section {
  font-size: 22px;       /* 預設大概是 30px，我們把它縮小 */
  padding: 40px 200px;    /* 預設的四周留白很大，我們把它縮窄，榨出更多排版空間 */
}

/* 針對標題稍微縮小下方間距 */
h2, h3 {
  margin-bottom: 0.5em;
}

/* 針對表格跟程式碼區塊再稍微縮小一點，防止撐爆畫面 */
table, pre, code {
  font-size: 90%;
}